<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home Covid 19 India</title>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css" />
	    <style>
		div {
		    width: 50%;
		    margin: 0 auto;
		}
        .one {
            position: absolute;
            inset: 30% 20% 20% 20%;
        }
    </style>
</head>
<body>
	<div class="container text-center one">
		<div>
			<h1>Welcome to the Covid 19 India</h1>
		</div>
		<div class="one">
			<h3><a th:href="@{/register}">Register</a></h3>
			<h3><a th:href="@{/login}">Login</a></h3>
		</div>
	</div>
</body>
</html>