<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>All Users - Covid 19 India</title>
	<link rel="stylesheet" type="text/css"
		href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
	<script type="text/javascript"
		src="https://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
		    // Create DataTable
		    var table = $('#stateTable').DataTable({
		        dom: 'Pfrtip',
		    });
		 	var chartVal = {
		        plotBackgroundColor: null,
		        plotBorderWidth: null,
		        plotShadow: false,
		        type: 'pie'
		    };
		    var tooltipVal = {
		        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		    };
		    var accessVal = {
		        point: {
		            valueSuffix: '%'
		        }
		    };
		    var plotVals = {
		        pie: {
		            allowPointSelect: true,
		            cursor: 'pointer',
		            dataLabels: {
		                enabled: true,
		                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
		            }
		        }
		    };
		    
		    var activeChart = Highcharts.chart("col-pie-active", {
		    chart: chartVal,
		    title: {
		        text: 'Statewise by active cases'
		    },
		    tooltip: tooltipVal,
		    accessibility: accessVal,
		    plotOptions: plotVals,
	        series: [
		            {
		                data: pieData(table, 5),
		            },
		        ],
		    });
		 
		    var deathChart = Highcharts.chart("col-pie-death", {
		    chart: chartVal,
		    title: {
		        text: 'Statewise by death cases'
		    },
		    tooltip: tooltipVal,
		    accessibility: accessVal,
		    plotOptions: plotVals,
	        series: [
		            {
		                data: pieData(table, 6),
		            },
		        ],
		    });

		    var recoveredChart = Highcharts.chart("col-pie-recovered", {
		    chart: chartVal,
		    title: {
		        text: 'Statewise by recovered cases'
		    },
		    tooltip: tooltipVal,
		    accessibility: accessVal,
		    plotOptions: plotVals,
	        series: [
		            {
		                data: pieData(table, 3),
		            },
		        ],
		    });

		    var confirmedChart = Highcharts.chart("col-pie-confirmed", {
		    chart: chartVal,
		    title: {
		        text: 'Statewise by confirmed cases'
		    },
		    tooltip: tooltipVal,
		    accessibility: accessVal,
		    plotOptions: plotVals,
	        series: [
		            {
		                data: pieData(table, 1),
		            },
		        ],
		    });

		    // On each draw, update the data in the chart
		    table.on('draw', function () {
		        activeChart.series[0].setData(pieData(table, 5));
		        deathChart.series[0].setData(pieData(table, 6));
		        recoveredChart.series[0].setData(pieData(table, 3));
		        confirmedChart.series[0].setData(pieData(table, 1));
		    });
		});
		 
		function pieData(table, i) {
		    var states = [];
			var highest = 0;
			table.rows({ search: 'applied' }).every(function() {
				const data = this.data();
				highest = Math.max(parseFloat(data[i]), highest);				
		    });
			Math.max
		    table.rows({ search: 'applied' }).every(function() {
				const data = this.data();
				var num = parseFloat(data[i]);
				if (num == highest) {
					states.push({name: data[0], y: num, sliced: true, selected: true});
				} else {
					states.push({name: data[0], y: num});
				}		    	  
		    });
			return states;
		}
    </script>
</head>
<body class="bg-dark">
	<div class="container-fluid">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					<b>[[${#request.userPrincipal.principal.fullUserName}]]</b>
				</p>
				<input type="submit" value="Logout">
			</form>
		</div>
		<div class="row">		
			<div class="col">
			<table id="stateTable" class="table table-dark"
			 data-order='[[2, "desc"]]'
			 data-paging='false'>
				<thead class="table-dark">
					<tr>
						<th>State</th>
						<th>Confirmed</th>
						<th>New</th>
						<th>Recovered</th>
						<th>New Recovered</th>
						<th>Active</th>
						<th>Death</th>
						<th>New Deaths</th>
						<th>Last updated</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="state: ${states}">
						<td th:text="${state.state}">State</td>
						<td th:text="${state.confirmed}">Confirmed</td>
						<td th:text="${state.deltaconfirmed}">New</td>
						<td th:text="${state.recovered}">Recovered</td>
						<td th:text="${state.deltarecovered}">New Recovered</td>
						<td th:text="${state.active}">Active</td>
						<td th:text="${state.deaths}">Death</td>
						<td th:text="${state.deltadeaths}">New Death</td>
						<td th:text="${state.lastupdatedtime}">Last updated</td>
					</tr>
				</tbody>
				<tfoot class="table-dark">
					<tr th:object="${total}">
						<th th:text="*{state}">State</th>
						<th th:text="*{confirmed}">Confirmed</th>
						<th th:text="*{deltaconfirmed}">New</th>
						<th th:text="*{recovered}">Recovered</th>
						<th th:text="*{deltarecovered}">New Recovered</th>
						<th th:text="*{active}">Active</th>
						<th th:text="*{deaths}">Death</th>
						<th th:text="*{deltadeaths}">New Death</th>
						<th th:text="*{lastupdatedtime}">Last updated</th>
					</tr>
				</tfoot>
			</table>
			</div>
			<div class="col container bg-dark">
				<div class="row align-items-center pb-5">
					<div class="col" id="col-pie-active">
					</div>
				</div>
				<div class="row align-items-center pb-5">
					<div class="col" id="col-pie-death">
					</div>
				</div>
				<div class="row align-items-center pb-5">
					<div class="col" id="col-pie-recovered">
					</div>
				</div>
				<div class="row align-items-center pb-5">
					<div class="col" id="col-pie-confirmed">
					</div>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>